workflows/[IA] - Kommo.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get Audio File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set audioUrl": {
      "main": [
        [
          {
            "node": "Get Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Update Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar outro Token": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - voice or text1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set audioUrl",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Metadata2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save Chat History": {
      "main": [
        [
          {
            "node": "Mais de 3 mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mais de 3 mensagens": {
      "main": [
        [
          {
            "node": "Move Lead to TRIAGEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis6": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis8": {
      "main": [
        [
          {
            "node": "Set message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set message props",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message props": {
      "main": [
        [
          {
            "node": "Get Empreendimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Metadata": {
      "main": [
        [
          {
            "node": "Gerar outro Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Metadata2": {
      "main": [
        [
          {
            "node": "Send Message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "move_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Move_Lead1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Set Empreendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Empreendimento": {
      "main": [
        [
          {
            "node": "Switch - voice or text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Empreendimentos": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_empreendimentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "set_capa_enviada": {
      "ai_tool": [
        []
      ]
    },
    "OpenAI Fallback 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_name1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preenche_motivo2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preenche_empreendimento1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mover_material1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mover_simulacao1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preenche_estado_civil1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preenche_renda_mensal1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preenche_tipo_renda1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preenche_imposto_converted": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preencher_data_visita_lead1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "request_human1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mover_negociacao1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "preenche_nascimento_mensal1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "envia_material1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "envia_media_simulacao1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-09T05:16:18.327Z",
  "id": "miO3HCG3ZDhU7HzY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[IA] - Kommo",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.audioUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3856,
        1008
      ],
      "id": "5c570669-1db7-429a-bbfa-34146c325a08",
      "name": "Get Audio File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d457490-d16b-4c57-bfc0-ae5c37991a3a",
              "name": "audioUrl",
              "value": "={{ $('When Executed by Another Workflow').item.json.body[\"message[add][0][attachment][link]\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4080,
        1008
      ],
      "id": "5b375ea0-5709-4fd0-8c60-7dcc916de23d",
      "name": "Set audioUrl"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3632,
        1008
      ],
      "id": "3ee3ced2-6db6-4369-8a74-c97658068745",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "0ZJDZk0RntkjAagM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "frequencyPenalty": 0,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1680,
        1424
      ],
      "id": "f35c87de-7e25-43ca-94a1-e690e7c68f53",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0ZJDZk0RntkjAagM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa1c73bf-2b10-4c3e-b194-b78c2943f9c9",
              "name": "text",
              "value": "={{ $('Set message props').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3856,
        1248
      ],
      "id": "d53b3717-fb10-4fa9-a988-bcb0e105c36b",
      "name": "Set message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Set message props').last().json.prefix }}.kommo.com/ajax/v1/chats/session",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Host",
              "value": "={{ $('Set message props').last().json.prefix }}.kommo.com"
            },
            {
              "name": "Content-Length",
              "value": "50"
            },
            {
              "name": "Sec-Ch-Ua-Platform",
              "value": "\\\"Linux\\\""
            },
            {
              "name": "Accept-Language",
              "value": "pt-BR,pt;q=0.9"
            },
            {
              "name": "Sec-Ch-Ua",
              "value": "\\\"Chromium\\\";v=\\\"133\\\", \\\"Not(A:Brand\\\";v=\\\"99\\\""
            },
            {
              "name": "Sec-Ch-Ua-Mobile",
              "value": "?0"
            },
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "Origin",
              "value": "=https://{{ $('Set message props').last().json.prefix }}.kommo.com"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "same-origin"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Referer",
              "value": "=https://{{ $('Set message props').last().json.prefix }}.kommo.com/dashboard/"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Priority",
              "value": "u=1, i"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/x-www-form-urlencoded; charset=UTF-8",
        "body": "request%5Bchats%5D%5Bsession%5D%5Baction%5D=create",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        1088
      ],
      "id": "eb547b1e-b8a7-4e99-8c73-1df02c8af8de",
      "name": "Get Token",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BTCyyPfgqbsIG6Ko",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $json.body.response.chats.session.account.id }}/{{ $('Set message props').last().json.chat_id }}/messages ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Accept-Language",
              "value": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,la;q=0.6"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Origin",
              "value": "=  https://{{ $('Set message props').last().json.prefix }}.kommo.com"
            },
            {
              "name": "Referer",
              "value": "=https://{{ $('Set message props').last().json.prefix }}.kommo.com/"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "same-site"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36"
            },
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.body.response.chats.session.access_token }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Linux\""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"silent\": false,\n  \"priority\": \"low\",\n  \"crm_entity\": {\n    \"id\": {{ $('Set message props').last().json.crm_entity.id }},\n    \"type\": 2\n  },\n  \"persona_name\": \"\",\n  \"persona_avatar\": \"https://images.kommo.com/frontend/images/interface/avatars/-5.jpeg\",\n    \"text\": {{ JSON.stringify($('AI Agent').item.json.output)}},\n  \"recipient_id\": \"{{ $('Set message props').last().json.recipient_id }}\",\n  \"group_id\": null,\n  \"crm_dialog_id\": {{ $('Set message props').last().json.crm_dialog_id }},\n  \"crm_contact_id\": {{ $('Set message props').last().json.crm_contact_id }},\n  \"crm_account_id\": {{ $('Set message props').last().json.crm_account_id }},\n  \"skip_link_shortener\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        1088
      ],
      "id": "665664f8-e71b-467f-8b7a-2e15684c9382",
      "name": "Send Message",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "676ee0c4-066c-4666-8547-7ccad3dbca97",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "b6f91a7b-2aa1-4ced-aea8-f8eba33899ec",
              "leftValue": "={{ $json.expired_at?.toDateTime() }}",
              "rightValue": "={{ $now.plus(20, 'hour') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "db7ee72b-3ea2-4100-a638-7a8f6fea01d2",
              "leftValue": "={{ $json.expired_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "3628b95f-42b3-447e-b7e5-1b65cdb43d86",
              "leftValue": "={{ $json.acces_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "82cd383a-4657-4b9a-be01-57d9ad8675ef",
              "leftValue": "={{ $json.amojo_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -816,
        1232
      ],
      "id": "6ab86e1c-699b-40df-b2a8-5d60c18a270f",
      "name": "Gerar outro Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $json.amojo_id }}/{{ $('Set message props').last().json.chat_id }}/messages ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Accept-Language",
              "value": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,la;q=0.6"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Origin",
              "value": "=https://{{ $('Set message props').last().json.prefix }}.kommo.com "
            },
            {
              "name": "Referer",
              "value": "=https://{{ $('Set message props').last().json.prefix }}.kommo.com/"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "same-site"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36"
            },
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.acces_token }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Linux\""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"silent\": false,\n  \"priority\": \"low\",\n  \"crm_entity\": {\n    \"id\": {{ $('Set message props').last().json.crm_entity.id }},\n    \"type\": 2\n  },\n  \"persona_name\": \"\",\n  \"persona_avatar\": \"https://images.kommo.com/frontend/images/interface/avatars/-5.jpeg\",\n    \"text\": {{ JSON.stringify($('AI Agent').item.json.output)}},\n  \"recipient_id\": \"{{ $('Set message props').last().json.recipient_id }}\",\n  \"group_id\": null,\n  \"crm_dialog_id\": {{ $('Set message props').last().json.crm_dialog_id }},\n  \"crm_contact_id\": {{ $('Set message props').last().json.crm_contact_id }},\n  \"crm_account_id\": {{ $('Set message props').last().json.crm_account_id }},\n  \"skip_link_shortener\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        1440
      ],
      "id": "237a4921-72f1-41c5-ba09-a2d8e6229292",
      "name": "Send Message2",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "## Configurar Credencial \n1. Na parte de integrações no Kommo, ir na integração que foi criada e gerar um *token de longaduração*\n2. Acessar a credencial desse node HTTP (Get Token) e alterar o valor para: access_token={TOKEN_GERADO};\n\n**Ex.: access_token=eyJ0e[...]wr7rA;  (com o ponto-e-virgula incluso)**",
        "height": 340,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        896
      ],
      "id": "f4c48a29-b801-4c8f-a32b-b3f946862c84",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Criar conta no BaseRow (ou criar credencial para outro banco de dados existente)\n\n\no intuito aqui é puxar os dados de token de acesso salvos no banco de dados para nao ter que gerá-los a cada execução\n\nCaso o token nao exista ou esteja expirando, geramos um novo token",
        "height": 460,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1104,
        960
      ],
      "id": "ae68922c-4161-4a24-8094-1cdc2e24426b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Transcrever Audio",
        "height": 260,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4160,
        928
      ],
      "id": "dde5d56a-6b54-4533-a9a2-b17b447ed207",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Salva o token gerado\n\nSalva o token gerado para nao precisar gerar novamente. \n- O token tem validade de 3 dias",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        896
      ],
      "id": "9a24cabb-4363-4273-b6e5-f2bb68ce07d2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Envia mensagem\n\nEnvia uma mensagem pelo kommo no chat em questão\n",
        "height": 340,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        896
      ],
      "id": "4f33b12d-6560-445f-b24b-548e2a9b7084",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Envia mensagem\n\nEnvia uma mensagem pelo kommo no chat em questão\n",
        "height": 340,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        1264
      ],
      "id": "7327b4d0-1715-48b9-972b-a02274da275d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c004751-87cb-4c4f-adce-e8a2449318c6",
                    "leftValue": "={{ $('Set message props').item.json.text }}",
                    "rightValue": "/clean",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Clean"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body[\"message[add][0][attachment][type]\"] }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39019b38-74d2-4889-9c70-53e5915641dd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd7adc0d-5a4d-4add-aed7-f27b4b810f5f",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][text]'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f4ab82a-be21-4ff0-9808-bbfe50d88f51",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body[\"message[add][0][attachment][type]\"] }}",
                    "rightValue": "picture",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f14300a2-517b-44e7-af79-4db63db608fc",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.body[\"message[add][0][attachment][type]\"] }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4576,
        1248
      ],
      "id": "5a859f34-abf0-4798-93e2-f15a541b020a",
      "name": "Switch - voice or text1"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][attachment][link]'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3856,
        1472
      ],
      "id": "42677701-7187-4abe-998b-3f38fbb30ddc",
      "name": "Download Image",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $json.amojo_id }}/{{ $('Set message props').item.json.chat_id }}/messages ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "Accept-Language",
              "value": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7,la;q=0.6"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Origin",
              "value": "=https://{{ $('Set message props').item.json.prefix }}.kommo.com "
            },
            {
              "name": "Referer",
              "value": "=https://{{ $('Set message props').item.json.prefix }}.kommo.com/"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "same-site"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36"
            },
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not A(Brand\";v=\"8\", \"Chromium\";v=\"132\", \"Google Chrome\";v=\"132\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Linux\""
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"silent\": false,\n  \"priority\": \"low\",\n  \"crm_entity\": {\n    \"id\": {{ $('Set message props').item.json.crm_entity.id }},\n    \"type\": 2\n  },\n  \"persona_name\": \"\",\n  \"persona_avatar\": \"https://images.kommo.com/frontend/images/interface/avatars/-5.jpeg\",\n    \"text\": {{ JSON.stringify('Não estou conseguindo ver vídeos, você poderia me descrever do que se trata?')}},\n  \"recipient_id\": \"{{ $('Set message props').item.json.recipient_id }}\",\n  \"group_id\": null,\n  \"crm_dialog_id\": {{ $('Set message props').item.json.crm_dialog_id }},\n  \"crm_contact_id\": {{ $('Set message props').item.json.crm_contact_id }},\n  \"crm_account_id\": {{ $('Set message props').item.json.crm_account_id }},\n  \"skip_link_shortener\": false\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3728,
        1648
      ],
      "id": "26643e9d-0838-491c-92e2-10f60efa6360",
      "name": "Send Message5",
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1088,
        640
      ],
      "id": "18cd016e-1ab9-455b-95fa-6a0585693f27",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "chat_messages",
          "mode": "list",
          "cachedResultName": "chat_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}",
            "lead_question": "={{ $json.messages.last().human }}",
            "ai_answer": "={{ $json.messages.last().ai }}",
            "chat_id": "={{ $('Set message props').item.json.chat_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_question",
              "displayName": "lead_question",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ai_answer",
              "displayName": "ai_answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -544,
        128
      ],
      "id": "c855803a-e878-4257-bffd-254814705218",
      "name": "Save Chat History",
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Salva Histórico de Mensagens",
        "height": 260,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        528
      ],
      "id": "c7c6ce59-60f1-472b-873b-78809b05934b",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "501f54fd-b75b-4d52-ad2a-9d8b2da2c1b7",
              "leftValue": "={{ $('Chat Memory Manager').item.json.messages.length }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "f6b642cd-6c55-424d-862d-0ba8d60653cb",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.getLead.json.pipeline_id }}",
              "rightValue": 11649772,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "6adf4b3d-08f7-4b81-ba25-5abdd7995602",
              "leftValue": "={{ [89500452] }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.getLead.json.status_id }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        128
      ],
      "id": "03de6cdb-5b4f-4a0b-9233-8cf86ea6a316",
      "name": "Mais de 3 mensagens",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=chat-buffer:{{ $('Set message props').last().json.chat_id }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "f219f50a-24fb-405c-86e1-0b19b7ecb3f4",
      "name": "Redis6",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3136,
        1104
      ],
      "credentials": {
        "redis": {
          "id": "G96Z4GZwJMWvp7g5",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=chat-buffer:{{ $('Set message props').last().json.chat_id }}",
        "options": {}
      },
      "id": "d6cc926b-1e56-4a57-8920-ebc983b84036",
      "name": "Redis7",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2768,
        1104
      ],
      "credentials": {
        "redis": {
          "id": "G96Z4GZwJMWvp7g5",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8f543e84-19f5-4e6d-bd5e-fb11fd363f73",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2368,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=chat-buffer:{{ $('Set message props').last().json.chat_id }}"
      },
      "id": "70c3ade4-f535-4623-81f4-8ff1200f02a3",
      "name": "Redis8",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2176,
        944
      ],
      "credentials": {
        "redis": {
          "id": "G96Z4GZwJMWvp7g5",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21fd20d7-f940-4a66-91d5-5ea4c031bb50",
              "leftValue": "={{ $json.propertyName.last() }}",
              "rightValue": "={{ $('Wait2').item.json.text }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6e5da00-bff6-498a-a73d-67a7db687d27",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2592,
        1104
      ]
    },
    {
      "parameters": {},
      "id": "832be585-e9c5-460c-875c-a67d2a22d81f",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2960,
        1104
      ],
      "webhookId": "8d1f0684-333a-48f1-aa28-380ae948d1ba"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -3376,
        1104
      ],
      "id": "6cd17bc4-13de-407f-92cf-a00a85907776",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37f63b88-4a52-4421-aa95-db9114e521bc",
              "name": "listaMensagens",
              "value": "={{ $json.propertyName.join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1104b50-800f-4eff-a56d-d6a36135c7ee",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        944
      ]
    },
    {
      "parameters": {
        "content": "# Buffer",
        "height": 460,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3168,
        864
      ],
      "typeVersion": 1,
      "id": "6c045b77-21bf-4f8e-83ac-96c8cebb41a9",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa1c73bf-2b10-4c3e-b194-b78c2943f9c9",
              "name": "text",
              "value": "={{ $json.listaMensagens }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        944
      ],
      "id": "9d9c97f3-2077-4468-bcf7-3e3cd978dc11",
      "name": "Set message1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set message props').last().json.chat_id }}-1",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1200,
        1344
      ],
      "id": "1730c434-9827-4ce5-8a44-7ea7280f644b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5808,
        1312
      ],
      "id": "e05a7f9b-bccb-4f75-828d-41ba9a07737d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a9216c6-21ea-424c-98c4-744f2c5b4926",
              "name": "prefix",
              "value": "={{ $json.body[\"account[subdomain]\"] }}",
              "type": "string"
            },
            {
              "id": "77ef0e9d-764b-48e5-9b46-9af9ad8b6fce",
              "name": "crm_entity.id",
              "value": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][entity_id]'] }}",
              "type": "number"
            },
            {
              "id": "ae976995-0420-4fb0-9fb0-97b876a02a9a",
              "name": "recipient_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][author][id]'] }}",
              "type": "string"
            },
            {
              "id": "f2aac850-3cf6-4193-8802-9762c5bc8f0c",
              "name": "crm_dialog_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][talk_id]'] }}",
              "type": "number"
            },
            {
              "id": "d3367635-8e16-4f43-93af-79d398be6531",
              "name": "crm_contact_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][contact_id]'] }}",
              "type": "number"
            },
            {
              "id": "478b6a11-b01f-4342-9b00-fd88ac05a08e",
              "name": "crm_account_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.body['account[id]'] }}",
              "type": "number"
            },
            {
              "id": "fa1c73bf-2b10-4c3e-b194-b78c2943f9c9",
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][text]'] }}",
              "type": "string"
            },
            {
              "id": "6aae851f-2f36-43d9-934e-74e0f0a2c171",
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.body['message[add][0][chat_id]'] }}",
              "type": "string"
            },
            {
              "id": "34fb489d-93ab-4dbe-ba8b-7905e326092c",
              "name": "lead_name",
              "value": "={{ $('When Executed by Another Workflow').item.json.body[\"message[add][0][author][name]\"] }}",
              "type": "string"
            },
            {
              "id": "33483713-4c08-4bed-b8d4-54aef5f62d60",
              "name": "contact_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.body[\"message[add][0][contact_id]\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5584,
        1312
      ],
      "id": "730dba98-f4c1-4e42-b8ef-a4f9d64df8af",
      "name": "Set message props"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "kommo",
          "mode": "list",
          "cachedResultName": "kommo"
        },
        "table": {
          "__rl": true,
          "value": "metadata",
          "mode": "list",
          "cachedResultName": "metadata"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1040,
        1232
      ],
      "id": "82ceb27a-61d6-4ef7-bd45-e8d54ccdaded",
      "name": "Get Metadata",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "kommo",
          "mode": "list",
          "cachedResultName": "kommo"
        },
        "table": {
          "__rl": true,
          "value": "metadata",
          "mode": "list",
          "cachedResultName": "metadata"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4048,
        1648
      ],
      "id": "0528bc5c-a6ca-4c79-881e-14a179a69b1d",
      "name": "Get Metadata2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "kommo",
          "mode": "list",
          "cachedResultName": "kommo"
        },
        "table": {
          "__rl": true,
          "value": "metadata",
          "mode": "list",
          "cachedResultName": "metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 1,
            "acces_token": "={{ $('Get Token').item.json.body.response.chats.session.access_token }}",
            "expired_at": "={{ $('Get Token').item.json.body.response.chats.session.expired_at.toDateTime('s') }}",
            "amojo_id": "={{ $('Get Token').item.json.body.response.chats.session.account.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order",
              "displayName": "order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "acces_token",
              "displayName": "acces_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "expired_at",
              "displayName": "expired_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "amojo_id",
              "displayName": "amojo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        1088
      ],
      "id": "172de3a4-a03f-4def-853a-ea2962e14a16",
      "name": "Update Token",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋",
        "options": {
          "subtitle": "Seletor",
          "title": "Beatriz"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -4256,
        2288
      ],
      "id": "441bf79a-3546-43f1-848c-ebe84512f302",
      "name": "When chat message received",
      "webhookId": "3078a986-fd94-42b7-b4e9-dcfca30751ea"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "frequencyPenalty": 0,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4080,
        2512
      ],
      "id": "996e27a1-8fc1-4cf2-86dd-19e6d4e42983",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0ZJDZk0RntkjAagM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3936,
        2512
      ],
      "id": "c5221ac0-cf75-477d-be38-6c7958f7b42d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<importante> \n- current time: {{ $now.format('ffff') }}\n- Se o Lead perguntar algo, chame a ferramenta \"faq\"\n</importante>\n\n---\n\n# mensagem do usuário:\n\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=### ROLE\n\nVocê é o agente de IA de triagem e atendimento inicial da Joice Cordeiro, corretora de lançamentos imobiliários em Itatiba.\n\n### PRIMARY GOAL\n\nSua missão: Receber leads de forma calorosa, identificar o empreendimento de interesse, fornecer informações detalhadas sobre os imóveis, enviar materiais audiovisuais, coletar dados essenciais do lead, registrar essas informações no Kommo, e conduzir o lead até o estágio de simulação e negociação – sempre promovendo uma experiência consultiva, acolhedora e eficiente.\n\n### DOMAIN CONTEXT\n\n• São atendidos leads interessados em diferentes empreendimentos imobiliários em lançamento, com possibilidade de inclusão dinâmica de novos empreendimentos.\n\n• O funil contempla as etapas: Saudação/Menu → Empreendimento → Material → Simulação → Negociação.\n\n• Cada ação de informação ou coleta de dados deve ser registrada em sistemas via ferramentas específicas (ex: `preenche_empreendimento`, `preenche_estado_civil`, etc).\n\n• Materiais (fotos, vídeos, PDFs, links) são enviados de acordo com cada empreendimento para convencer o lead a solicitar simulação.\n\n• Dados coletados para simulação: estado civil, renda mensal (individual ou conjunta), tipo de renda (formal/informal), declaração de IR, data(s) de nascimento.\n\n• O lead pode desistir, pedir falar com humano ou demonstrar hesitação/irritação a qualquer momento.\n\n### AVAILABLE TOOLS\n\n> ⚠️ Cada ferramenta só deve ser chamada **apenas uma vez por informação nova** e nunca repetida para o mesmo dado.\n\n1. **preenche_empreendimento** – Use ao identificar a escolha do empreendimento, informando o número da opção selecionada.\n\n2. **mover_interessado** – Use após registrar o empreendimento e iniciar o envio de materiais.\n\n3. **mover_empreendimento_material** – Use quando o lead aceitar receber vídeos do empreendimento.\n\n4. **mover_simulacao** – Use ao engajar o lead para fazer simulação personalizada.\n\n5. **preenche_estado_civil** – Use ao receber o estado civil do lead (indique o número da resposta).\n\n6. **preenche_renda_mensal** – Use ao receber o valor da renda (individual ou conjunta).\n\n  7. **preenche_tipo_renda** – Use ao receber o tipo de renda (número da escolha).\n\n8. **preenche_imposto_renda** – Use ao receber resposta sobre declaração de IR.\n\n9. **preencher_data_nascimento** – Use ao receber data(s) de nascimento.\n\n10. **mover_negociacao** – Use após finalizar a coleta dos dados da simulação e avisar o lead sobre o próximo contato.\n\n11. **request_human** – Use se lead pedir para falar com humano, reclamar, ou demonstrar frustração/negatividade.\n\n### STYLE & TONE\n\n• Seja empático, acolhedor e cordial – converse como um amigo que entende do assunto, mostrando interesse real, naturalidade e transparência.\n\n• Sempre utilize listas numeradas para opções, nunca texto corrido.\n\n• Use emojis para aproximar e humanizar, sem exageros.\n\n### SAFETY & ACCURACY\n\nNunca faça afirmações não suportadas, não compartilhe informações sensíveis nem promessas irreais.\n\nSe não souber algo, explique isso e ofereça buscar/falar com o humano.\n\n### RESPONSE FORMAT\n\n• Estruture os diálogos para avançar de etapa em etapa, confirmando dados recebidos e orientando sobre o próximo passo.\n\n• A cada nova informação relevante recebida, utilize a ferramenta adequada imediatamente após a resposta do lead.\n\n• Se o lead não responder a uma pergunta obrigatória, reforce gentilmente a solicitação antes de avançar.\n\n• Nunca repita a ferramenta para o mesmo valor já registrado no Kommo.\n\n---\n\n#### Exemplos Resumidos de Fluxo\n\n**1. Saudação & escolha do empreendimento**\n\n```plaintext\n\nOi! Tudo bem? 👋\n\nSou Joice Cordeiro, corretora de lançamentos em Itatiba.\n\nVi sua visita no nosso anúncio e vou te ajudar com todas as informações do empreendimento.\n\nPrimeiramente, como você gostaria de ser chamado(a)?\n\n```\n\n(Ao receber o nome, siga:)\n\n```plaintext\n\nObrigado! Agora vamos continuar com seu atendimento...\n\nDigite apenas o número correspondente ao atendimento desejado:\n\n1 - Casas Villa das Araucárias\n\n2 - Sou Viver - Apartamento\n\n3 - Residencial Absoluto - Apartamento\n\n4 - Varanda Visconde - Apartamento\n\n5 - Buritis - Apartamento\n\n6 - Outros\n\n```\n\n(Assim que o lead responder, acione `preenche_empreendimento(opcao)` e `mover_interessado`)\n\n**2. Envio do material inicial do empreendimento**\n\n```plaintext\n\n[FOTO]\n\nFico feliz pelo seu interesse no {Nome do empreendimento}\n\nPosso te enviar um vídeo do empreendimento?\n\n1️⃣ Sim\n2️⃣ Não\n\n```\n\n(Se sim, acione `mover_empreendimento_material`. Se não, peça o canal preferido para receber mais informações.)\n\n**3. Material de apresentação e convite para simulação**\n\nEnvie fotos, informações e book do empreendimento. No final, pergunte:\n\n```plaintext\n\n✨ Gostou do material que te enviei até agora?\n\nPara facilitar, aqui está o link do tour virtual: {Link do empreendimento}\n\n📚 E segue também o book completo em PDF!\n\n📞 Podemos falar agora sobre os valores das casas?\n\n```\n\n(Se positivo, responda calorosamente e acione `mover_simulacao`)\n\n**4. Coleta de dados para simulação**\n\nPara cada resposta do lead, acione a ferramenta correspondente. Exemplo:\n\n```plaintext\n\nQual seu estado civil?\n\n1 - Solteiro.\n\n2 - Casado.\n\n3 - Pretendo comprar com outra pessoa.\n\n```\n\n(Ao responder, chame `preenche_estado_civil(opcao)`; siga coletando: renda, tipo de renda, IR, data de nascimento.)\n\n**5. Finalização e negociação**\n\n```plaintext\n\nPerfeito! Em breve te envio a simulação da Caixa com os valores de entrada, parcelas e condições pra você! 🏡💰\n\nSe surgir qualquer dúvida, pode me chamar aqui! 😊📲\n\n```\n\n(Acione `mover_negociacao`)\n\n---\n\n### Notas Gerais\n\n- Se lead desviar do assunto, traga de volta de forma natural e cordial.\n\n- Se lead pedir para parar/ficar irritado/pedir humano, acione `request_human`.\n\n- Nunca repita perguntas ou ferramentas se o lead já respondeu/registrou resposta idêntica.\n\n- Não envie links formatados; envie sempre em texto puro.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4016,
        2288
      ],
      "id": "8c3e176a-0e08-4987-969e-033636b7f0ee",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "description": "Chame essa ferramenta para mover o lead para o SDR correspondente. \n\nsempre chame após o lead escolher o serviço",
        "jsCode": "// Example: convert the incoming query to uppercase and return it\nreturn 'ok'",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"servico\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"direito_da_familia\",\n        \"trabalhista\",\n        \"superendividado\",\n        \"previdenciario\",\n        \"juridico_empresarial\",\n        \"defesa_da_saude\",\n        \"analise_de_contratos\",\n        \"advocacia_com_asas\",\n        \"mentoria\"\n      ],\n      \"description\": \"Escolha um dos servicos juridicos disponiveis.\"\n    }\n  },\n  \"required\": [\"servico\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.2,
      "position": [
        -3760,
        2512
      ],
      "id": "396cbee2-153f-441e-830e-74c694fe577e",
      "name": "move_lead",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Chame essa ferramenta para mover o lead para o SDR correspondente. \n\nsempre chame após o lead escolher o serviço",
        "method": "POST",
        "url": "=https://viegaseviegas.up.railway.app/webhook/d5434114-cc39-45d7-a43a-6b25e503c8d4",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead",
              "valueProvider": "fieldValue",
              "value": "=123"
            },
            {
              "name": "servico"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "servico",
              "description": "=\"properties\": {\n    \"servico\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"direito_da_familia\",\n        \"trabalhista\",\n        \"superendividado\",\n        \"previdenciario\",\n        \"juridico_empresarial\",\n        \"defesa_da_saude\",\n        \"analise_de_contratos\",\n        \"advocacia_com_asas\",\n        \"mentoria\"\n      ],\n      \"description\": \"Escolha um dos servicos juridicos disponiveis.\"\n    }",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -3584,
        2512
      ],
      "id": "27efeb13-f6d1-428c-b60a-06d26229b526",
      "name": "Move_Lead1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://joiceadv.kommo.com/api/v4/leads/16956464",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts,companies"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4160,
        2048
      ],
      "id": "64f927a6-4512-44d4-9114-6a5bfd88d741",
      "name": "Get Lead",
      "credentials": {
        "oAuth2Api": {
          "id": "O1UhUo6s0R02p4aG",
          "name": "[Kommo] - Oauth2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://joiceadv.kommo.com/api/v4/contacts/{{ $json._embedded.contacts.first().id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3968,
        2048
      ],
      "id": "e153db2f-764e-4793-9063-74da8cb1efef",
      "name": "Get Contact",
      "credentials": {
        "oAuth2Api": {
          "id": "O1UhUo6s0R02p4aG",
          "name": "[Kommo] - Oauth2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4416,
        2048
      ],
      "id": "000258c3-c7ff-46a4-b23a-77d49a426fe2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://joiceadv.kommo.com/api/v4/leads/custom_fields",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3680,
        2048
      ],
      "id": "3bde5eb2-7054-4563-8668-f0c6c37476c9",
      "name": "Get Custom Field",
      "credentials": {
        "oAuth2Api": {
          "id": "O1UhUo6s0R02p4aG",
          "name": "[Kommo] - Oauth2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Testes\n",
        "height": 1108,
        "width": 1460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4496,
        1952
      ],
      "typeVersion": 1,
      "id": "04d7bc9a-159e-401f-a24d-37f56dec0249",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "url": "https://joiceadv.kommo.com/api/v4/leads/pipelines/10762739/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3440,
        2048
      ],
      "id": "bd850c4a-6efe-4670-9003-29f2f0c2f1eb",
      "name": "Get Pipeline Stages",
      "credentials": {
        "oAuth2Api": {
          "id": "O1UhUo6s0R02p4aG",
          "name": "[Kommo] - Oauth2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://joiceadv.kommo.com/api/v4/users",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2256
      ],
      "id": "0e4db71b-d1f4-41d7-8beb-e5ed9bb1be50",
      "name": "Get Users",
      "credentials": {
        "oAuth2Api": {
          "id": "O1UhUo6s0R02p4aG",
          "name": "[Kommo] - Oauth2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://joiceadv.kommo.com/api/v4/leads/pipelines",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2048
      ],
      "id": "50e3d984-f8c4-476d-af34-7bf8dbeb0e41",
      "name": "Get Pipelines",
      "credentials": {
        "oAuth2Api": {
          "id": "O1UhUo6s0R02p4aG",
          "name": "[Kommo] - Oauth2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://prefix.kommo.com/api/v4/leads/21811099",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_fields_values\": [\n    \n    {\n      \"field_id\": 1569161,\n      \"values\": [\n        {\n          \"value\": \"Casado\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3200,
        2448
      ],
      "id": "a45282cf-8ffc-455c-a392-fdff1858c3fa",
      "name": "Update Lead",
      "credentials": {
        "oAuth2Api": {
          "id": "O1UhUo6s0R02p4aG",
          "name": "[Kommo] - Oauth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE SCHEMA IF NOT EXISTS kommo;\n\nCREATE TABLE kommo.metadata (\n  id SERIAL PRIMARY KEY,\n   \"order\" NUMERIC(20, 18),\n   \"Name\" TEXT,\n   acces_token TEXT,\n   expired_at TIMESTAMP WITH TIME ZONE,\n   amojo_id TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3440,
        2256
      ],
      "id": "c038cd4a-974c-4f5b-b3f9-9033511b321e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -4352,
        2720
      ],
      "id": "bafe5e9c-39ce-4a67-b53e-72ae651eafd1",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=7cd90f4d-ac4c-410a-99fc-732d6165aab8-1",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -4352,
        2928
      ],
      "id": "4d12af15-73e8-42ba-a697-c00ef2e17bf9",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -4160,
        752
      ],
      "id": "f0823340-15d4-40d9-88c8-7037af9e13b0",
      "name": "Chat Memory Manager2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set message props').last().json.chat_id }}-1",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -3824,
        752
      ],
      "id": "de0deb49-f68b-41ac-bd31-aa1af738fed2",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $('Set message props').item.json.prefix }}.kommo.com/api/v4/leads/{{ $('When Executed by Another Workflow').item.json.getLead.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status_id",
              "value": "={{89500456}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        112
      ],
      "id": "2cc0da0d-4f45-4bad-98f4-6ad957a06a25",
      "name": "Move Lead to TRIAGEM",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a urgência: \n1 - Se já está na cidade \n2 - Se virá dentro em até 60 dias.\n3 - Se a viagem está programada para +60 dias \n4 - Não sabe quando viajará\n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "urgencia"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "urgencia",
              "description": "número da opção informada pelo lead \n1 - Se já está na cidade \n2 - Se virá dentro em até 60 dias.\n3 - Se a viagem está programada para +60 dias \n4 - Não sabe quando viajará",
              "type": "number"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        896,
        1808
      ],
      "id": "bfb62da9-892b-48a2-a52e-578453119144",
      "name": "preencher_urgencia_lead",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche data_chegada\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        1696
      ],
      "typeVersion": 1,
      "id": "fd417907-1935-4cdb-b49f-a99788a6e277",
      "name": "Sticky Note data_chegada",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche data_partida\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        1696
      ],
      "typeVersion": 1,
      "id": "ccb3df5a-2893-46c5-9393-6303d847d590",
      "name": "Sticky Note data_partida",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o grupo: \n  1. Solo  \n  2. Casal  \n  3. Amigos  \n  4. Família com filhos  \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-grupo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "grupo"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "grupo",
              "description": "número da opção informada pelo lead \n  1. Solo  \n  2. Casal  \n  3. Amigos  \n  4. Família com filhos  ",
              "type": "number"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        624,
        2096
      ],
      "id": "460fb0a8-88cb-4724-8749-999462af6bb6",
      "name": "preencher_grupo_lead",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche grupo do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        1984
      ],
      "typeVersion": 1,
      "id": "572cfbbe-5308-4f3f-99d6-c5222b315df5",
      "name": "Sticky Note Origem1",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a data_chegada",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "data_chegada"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "data_chegada",
              "description": "data_chegada informada pelo lead no formato 'yyyy-MM-dd'",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        1808
      ],
      "id": "a811410c-45ab-42c1-8753-96352e4b9752",
      "name": "preencher_data_chegada_lead",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a data_partida",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-data_partida",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "data_partida"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "data_partida",
              "description": "data_partida informada pelo lead no formato 'yyyy-MM-dd'",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1440,
        1808
      ],
      "id": "8da19000-ba94-4abe-a47e-926652f22cdb",
      "name": "preencher_data_partida_lead",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche perfil do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        1984
      ],
      "typeVersion": 1,
      "id": "77f24bf6-e50e-42f3-8102-495d84418b12",
      "name": "Sticky Note Origem2",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o perfil: \n  1. Há idosos  \n  2. Há crianças  \n  3. Há PNE\nPodendo ser informado mais de um perfil. Ex: '1,3'",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-perfil",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "perfil"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "perfil",
              "description": "uma lista separada por virgulas com o número das opções informadas pelo lead \n  1. Há idosos  \n  2. Há crianças  \n  3. Há PNE\n\nEx: \"1,2\"",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        896,
        2096
      ],
      "id": "2e0c6d40-c77c-4f10-847c-6de9b9914d34",
      "name": "preencher_idade_perfil_lead",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche passeio do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        1984
      ],
      "typeVersion": 1,
      "id": "b2b57d05-a7a0-41b9-91f4-97a5fe4efaaa",
      "name": "Sticky Note Origem3",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o tipo de passeio: \n  1. Em Grupo  \n  2. Privativo  \n  3. Compartilhado  \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-passeio",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "passeio"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "passeio",
              "description": "número da opção informada pelo lead \n  1. Em Grupo  \n  2. Privativo  \n  3. Compartilhado  ",
              "type": "number"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        2096
      ],
      "id": "99d9270e-881e-4982-a142-740216b84f78",
      "name": "preencher_tipo_passeio_lead",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Mover Perda\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        2272
      ],
      "typeVersion": 1,
      "id": "eebe6377-9497-4ace-8c1e-0712aa87e33f",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Após tirar as dúvidas do lead, chame essa ferramenta caso o lead não tenha mais perguntas e não quiser falar com um humano",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-perda",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        896,
        2384
      ],
      "id": "2c7278f2-33d1-426a-81ca-2e191ef5efd7",
      "name": "mover_perda",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use para transferir imediatamente o lead para o funil de “PÓS VENDAS”, quando o lead informar que já é cliente.",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-pos_vendas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        2384
      ],
      "id": "3f77d94a-e950-4344-94a3-e19f2f9101b1",
      "name": "mover_pos_vendas",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Mover pos_vendas\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        2272
      ],
      "typeVersion": 1,
      "id": "c70727ae-0a69-439a-8265-71dbd2a03b04",
      "name": "Sticky Note18",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “QUALIFICADO”, quando: \n1. o lead já estiver na cidade, \n2. finalizar a triagem, \n3. Escolher o Passeio ou \n4. solicitar atendimento personalizado ou orçamento.",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-qualificado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1440,
        2384
      ],
      "id": "84d813b7-d50e-42a8-99cf-006374888e58",
      "name": "mover_qualificado",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Mover qualificado\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        2272
      ],
      "typeVersion": 1,
      "id": "467c85ca-f5e9-41a5-9ec7-29f1cce7d45a",
      "name": "Sticky Note20",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche pessoas\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        1984
      ],
      "typeVersion": 1,
      "id": "abce3cd8-bd60-4390-ac2e-6ce773b1775a",
      "name": "Sticky Note pessoas",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a quantidade de pessoas",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-pessoas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "pessoas"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "pessoas",
              "description": "quantidade de pessoas informada pelo lead",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1712,
        2096
      ],
      "id": "4372a719-8df8-4dbc-839c-e018c8118b1d",
      "name": "preencher_numero_pessoas_lead",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche hospedagem\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        1696
      ],
      "typeVersion": 1,
      "id": "23c21d6c-165e-42e8-bea0-eaa4e2443a01",
      "name": "Sticky Note hospedagem",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a sua hospedagem",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-hospedagem",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "hospedagem"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "hospedagem",
              "description": "hospedagem (nome do hotel) informada pelo lead",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1712,
        1808
      ],
      "id": "9ccb44d0-d722-42e8-9dbf-54bc242d5765",
      "name": "preencher_hospedagem_lead",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a idade das criacas: \n  1. 0 - 3 anos  \n  2. 4 - 9 anos  \n  3. Acima de 10 anos\nPodendo ser informado mais de um item. Ex: '1,3'",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-idade_criacas",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "idade_criacas"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "idade_criacas",
              "description": "uma lista separada por virgulas com o número das opções informadas pelo lead \n  1. 0 - 3 anos  \n  2. 4 - 9 anos  \n  3. Acima de 10 anos\n\nEx: \"1,2\"",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1712,
        2384
      ],
      "id": "b891909b-e321-4237-8abd-8e137422f288",
      "name": "preencher_idade_idade_criacas_lead",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche idade_criacas do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        2272
      ],
      "typeVersion": 1,
      "id": "359b9d2c-85c5-4cf5-93c7-2d76a2aa85f6",
      "name": "Sticky Note Origem4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche Urgencia do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        1696
      ],
      "typeVersion": 1,
      "id": "cb5c6d3f-0ae5-4216-a7b7-e3adbd9436df",
      "name": "Sticky Note Origem5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Envia Imagem 1\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        3648
      ],
      "typeVersion": 1,
      "id": "911f86c6-d1dd-4896-914a-77393532db28",
      "name": "Sticky Note empreendimento1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1840,
        1232
      ],
      "id": "e0107c2f-7f14-498a-a72b-2a27cab9797d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name",
              "renameField": true,
              "outputFieldName": "Nome do Empreendimento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -5136,
        1312
      ],
      "id": "41174071-b461-42a9-b21e-9afe4cba7075",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b1df782-1a1c-4088-b16e-a8641779a544",
              "name": "Empreendimento escolhido",
              "value": "={{\n  $('Get Empreendimentos')\n    .all()\n    .find(\n      item =>\n        item.json.name === (\n          $('When Executed by Another Workflow')\n            .item\n            .json\n            .getLead\n            ?.json\n            ?.custom_fields_values\n            ?.find(i => i.field_id == 1025278)\n            ?.values?.[0]?.value\n            ?? ''\n        )\n    )?.json ?? {}\n}}",
              "type": "object"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4848,
        1312
      ],
      "id": "c2293b1e-0a2a-48fb-bf10-f800ddde5efb",
      "name": "Set Empreendimento"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ventures",
          "mode": "list",
          "cachedResultName": "ventures"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "active",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "name",
            "id",
            "description",
            "priceRange",
            "financing"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5360,
        1312
      ],
      "id": "2379a84c-3364-4da9-802f-077a0e235cde",
      "name": "Get Empreendimentos",
      "credentials": {
        "postgres": {
          "id": "MRz8SFgYuZS9wEZe",
          "name": "PG Frontend"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ventures",
          "mode": "list",
          "cachedResultName": "ventures"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ \n(\n          $('When Executed by Another Workflow')\n            .item\n            .json\n            .getLead\n            ?.json\n            ?.custom_fields_values\n            ?.find(i => i.field_id == 1025278)\n            ?.values?.[0]?.value\n            ?? ''\n        )\n}}"
            },
            {
              "column": "active",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "name",
            "description",
            "priceRange"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4848,
        1120
      ],
      "id": "7493d93f-d0fd-4eb4-8d50-8998bde34970",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "3n2XFyKBHlGjd2GN",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -4000,
        2720
      ],
      "id": "dea9c9f5-7027-4a98-8d18-04103fa6fcd3",
      "name": "Chat Memory Manager3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bc68f5b-245d-4222-a1ae-e11bd5b0d018",
              "name": "prompt_construtora",
              "value": "=##### **4. Finalização e negociação**\nnão pergunte os dados de estado civil, renda, etc. Pule direto para essa etapa e envie a mensagem abaixo:\n```plaintext\n\nEm breve te envio a simulação da Construtora com os valores de entrada, parcelas e condições pra você! 🏡💰\n\nSe surgir qualquer dúvida, pode me chamar aqui! 😊📲\n\n```\n\n(Acione `mover_negociacao`)\n",
              "type": "string"
            },
            {
              "id": "27c35378-db4b-471d-95a1-1b3308276b95",
              "name": "prompt_banco",
              "value": "=##### **4. Coleta de dados para simulação**\n\nPara cada resposta do lead, acione a ferramenta correspondente.\n\n_!IMPORTANTE: A partir desse ponto é expressamente proibido chamar `enviar_img_1`, `enviar_material` e `envia_media_simulacao`_\n\nAbaixo estão os exemplos completos de cada pergunta e a ferramenta que deve ser chamada:\n\n---\n\n**Pergunta 1 – Estado Civil**\n\n```plaintext\nQual seu estado civil? Ou seja, você é casado ou solteiro?  \n \nSolteiro.  \nCasado.  \nPretendo comprar com outra pessoa.\n```\n**Ferramenta a ser chamada:** `preenche_estado_civil`\n- lembre-se de seguir naturalmente com a mensagem e sem lista numerada\n\n---\n\n**Pergunta 2 – Renda Mensal**\n\n```plaintext\n(Se o lead for solteiro ou casado)\nQual valor da sua renda mensal, {Nome}?\n\n(Se o lead pretende comprar com outra pessoa)\nQual valor da renda de vocês dois juntos mensal?\n```\n\n**Ferramenta a ser chamada:** `preenche_renda_mensal`\n\n---\n\n**Pergunta 3 – Tipo de Renda**\n\n```plaintext\n{Nome}, só para eu te orientar melhor com as possibilidades de financiamento:  \nVocê(s) trabalha(m) com renda formal (com registro em carteira ou CNPJ)  \nou renda informal (autônomo, sem registro)?  \n\n1 - Renda Formal  \n2 - Renda Informal\n```\n\n**Ferramenta a ser chamada:** `preenche_tipo_renda`\n\n---\n\n**Pergunta 4 – Declaração de Imposto de Renda**\n\n```plaintext\n{Nome}, você(s) declarou(raram) Imposto de Renda esse ano?  \n```\n\n**Ferramenta a ser chamada:** `preenche_imposto_renda`\n\n---\n\n**Pergunta 5 – Data de Nascimento**\n\n```plaintext\nE por último, qual a sua data de nascimento?  \nSe for comprar com mais alguém, envie também a data de nascimento da outra pessoa.\n```\n\n**Ferramenta a ser chamada:** `preencher_data_nascimento`\n\n\n##### **5. Finalização e negociação**\n\n```plaintext\n\nPerfeito! Em breve te envio a simulação da Caixa com os valores de entrada, parcelas e condições pra você! 🏡💰\n\nSe surgir qualquer dúvida, pode me chamar aqui! 😊📲\n\n```\n\n(Acione `mover_negociacao`)\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        1232
      ],
      "id": "dae7a1b3-1518-4ac7-b81f-a9fded824367",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Consultar Empreendimentos\n\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        1792
      ],
      "typeVersion": 1,
      "id": "1bb35eca-ad3b-410c-ac0a-b362ebc0c3b3",
      "name": "Sticky Note empreendimento4",
      "disabled": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Chame essa ferramenta para responder quaisquer dúvidas do lead sobre os empreendimentos",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ventures",
          "mode": "list",
          "cachedResultName": "ventures"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "active",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "name",
            "description",
            "priceRange",
            "link"
          ]
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -2112,
        1888
      ],
      "id": "8232c6a5-a6cc-4a93-ab8c-beb7fba75727",
      "name": "consultar_empreendimentos",
      "credentials": {
        "postgres": {
          "id": "MRz8SFgYuZS9wEZe",
          "name": "PG Frontend"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta logo após o lead informar o empreendimento que ele tem interesse ( e somente nessa etapa. nunca chame em outro momento ). \nUse para registrar internamente o disparo automático da capa do empreendimento logo após o lead informar o nome do empreendimento de interesse.\nApós isso, siga com o atendimento\n\nA ferramenta irá retornar com as instruções caso dê erro.",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-img-1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "message_props",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').item.json }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1184,
        3744
      ],
      "id": "d7ee25cc-09f0-48c2-9295-144158ea6bfe",
      "name": "set_capa_enviada",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1520,
        1424
      ],
      "id": "c6d89f15-8ad9-4bfc-b41b-a5cb37cff25e",
      "name": "OpenAI Fallback 4.1 mini",
      "credentials": {
        "openAiApi": {
          "id": "0ZJDZk0RntkjAagM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<importante> \n- current time: {{ $now.format('ffff') }}\n- Se o Lead perguntar algo, chame a ferramenta \"consultar_empreenidmento\"\n</importante>\n\n---\n\n# mensagem do usuário:\n\n{{ $json.text ? $json.text : 'mensagem vazia' }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=### ROLE\n\nVocê é o agente de IA de triagem e atendimento inicial da Joice Cordeiro, corretora de lançamentos imobiliários em Itatiba.\n\n### PRIMARY GOAL\n\nSua missão: Receber leads de forma calorosa, identificar o empreendimento de interesse, fornecer informações detalhadas sobre os imóveis, enviar materiais audiovisuais, coletar dados essenciais do lead, registrar essas informações no Kommo, e conduzir o lead até o estágio de simulação e negociação – sempre promovendo uma experiência consultiva, acolhedora e eficiente.\n\n### DOMAIN CONTEXT\n\n• São atendidos leads interessados em diferentes empreendimentos imobiliários em lançamento, com possibilidade de inclusão dinâmica de novos empreendimentos.\n\n• O funil contempla as etapas: Saudação/Menu → Empreendimento → Material → Simulação → Negociação.\n\n• Cada ação de informação ou coleta de dados deve ser registrada em sistemas via ferramentas específicas (ex: `preenche_empreendimento`, `preenche_estado_civil`, etc).\n\n• Materiais (fotos, vídeos, PDFs, links) são enviados de acordo com cada empreendimento para convencer o lead a solicitar simulação.\n\n{{$('Set Empreendimento').item.json['Empreendimento escolhido']['financing'] == 'construtora' ? '' \n: \n'• Dados coletados para simulação: estado civil, renda mensal (individual ou conjunta), tipo de renda (formal/informal), declaração de IR, data(s) de nascimento.' }}\n\n\n• O lead pode desistir, pedir falar com humano ou demonstrar hesitação/irritação a qualquer momento.\n\n### AVAILABLE TOOLS\n\n> ⚠️ Cada ferramenta só deve ser chamada **apenas uma vez por informação nova** e nunca repetida para o mesmo dado.\n\n1. **preenche_empreendimento** – Use ao identificar a escolha do empreendimento, informando o número da opção selecionada.\n\n2. **mover_interessado** – Use após registrar o empreendimento e iniciar o envio de materiais.\n\n3. **mover_empreendimento_material** – Use quando o lead aceitar receber o material do empreendimento.\n\n4. **mover_simulacao** – Use ao engajar o lead para fazer simulação personalizada.\n\n5. **preenche_estado_civil** – Use ao receber o estado civil do lead (indique o número da resposta).\n\n6. **preenche_renda_mensal** – Use ao receber o valor da renda (individual ou conjunta).\n\n7. **preenche_tipo_renda** – Use ao receber o tipo de renda (número da escolha).\n\n8. **preenche_imposto_renda** – Use ao receber resposta sobre declaração de IR.\n\n9. **preencher_data_nascimento** – Use ao receber data(s) de nascimento.\n\n10. **mover_negociacao** – Use após finalizar a coleta dos dados da simulação e avisar o lead sobre o próximo contato.\n\n11. **request_human** – Use para transferir o atendimento para a Joice. Quando lead pedir para falar com humano, reclamar, ou demonstrar frustração/negatividade.\n\n12. **enviar_material** – Use para enviar a série de materiais do empreendimento **uma única vez**, assim que o lead responder positivamente à sua primeira pergunta do tipo:  \n   \"Posso te enviar o material do empreendimento?\"  \n   - Considere como resposta afirmativa qualquer mensagem como: \"pode\", \"sim\", \"manda\", \"envia\", \"ok\", \"quero sim\", etc.  \n   - Após uma resposta afirmativa, chame imediatamente `mover_empreendimento_material` e `enviar_material`, **sem repetir a pergunta**. \n\n13. **envia_media_simulacao** - Use para enviar a mídia de simulação logo após o lead informar que quer saber o valor do empreendimento\n\n14. **preenche_motivo** - Use para preencher qual o motivo do lead ('moradia' ou 'investimento')\n\n15. **consultar_empreendimentos** - Use para consultar informações para poder responder dúvidas do lead. Sempre que o lead fizer qualquer pergunta, chame essa ferramenta\n\n### STYLE & TONE\n\n• Seja empático, acolhedor e cordial – converse como um amigo que entende do assunto, mostrando interesse real, naturalidade e transparência.\n\n• Sempre utilize listas numeradas para opções, nunca texto corrido.\n\n• Use emojis para aproximar e humanizar, sem exageros.\n\n### SAFETY & ACCURACY\n\nNunca faça afirmações não suportadas, não compartilhe informações sensíveis nem promessas irreais.\n\nSe não souber algo, explique isso e ofereça buscar/falar com o humano.\n\n### RESPONSE FORMAT\n\n• Estruture os diálogos para avançar de etapa em etapa, confirmando dados recebidos e orientando sobre o próximo passo. Porém siga de forma natural. Caso o lead faça perguntas, responda as dúvidas dele chamando `consultar_empreendimentos`\n\n• A cada nova informação relevante recebida, utilize a ferramenta adequada imediatamente após a resposta do lead.\n\n• Se o lead não responder a uma pergunta obrigatória, reforce gentilmente a solicitação antes de avançar.\n\n• Nunca repita a ferramenta para o mesmo valor já registrado no Kommo.\n\n---\n\n#### Exemplos Resumidos de Fluxo\n(obs. O fluxo abaixo é um exemplo sugerido. Mas você pode adaptar os textos para o cenário e contexto da conversa)\n\n##### **1. Saudação & escolha do empreendimento**\n\n```plaintext\n\nOi! Tudo bem? 👋\n\nSou  a assistente virtual da Joice Cordeiro, corretora de lançamentos em Itatiba.\n\nVou te ajudar com todas as informações do empreendimento.\n\nPrimeiramente, como você gostaria de ser chamado(a)?\n\n```\n\n(Ao receber o nome, siga:)\n- Pergunte se está buscando imóveis para investimento ou moradia\napós a resposta, chame a ferramenta `preenche_motivo` e inclua o motivo escolhido ('investimento' ou 'moradia')\n\n\n(Após preencher o motivo, siga:)\n```plaintext\n\nObrigado! Agora vamos continuar com seu atendimento...\n\nSobre qual empreendimento você gostaria de saber mais?\n\n{{ $('Aggregate').item.json['Nome do Empreendimento'].append('Outros').map((v, i) => `${i + 1} - ${v}`).join('\\n\\n') }}\n\n```\n- lembre-se de não usar listas numeradas\n- Se o lead escolher um empreendimento que não está na lista acima, avise que a Joice entrará em contato e já chame `request_human` imediatamente\n\n(Somente no momento em que o lead escolher qual empreendimento ele quer, acione `preenche_empreendimento` passando o nome exato do empreendimento.)\n- lembre-se de responder todas as duvidas do lead antes de marcar a escolha do empreendimento\n- Lembre-se de chamar essa ferramenta somente nessa etapa.\n\n##### **2. Envio do material inicial do empreendimento**\n- siga o exemplo abaixo. Mas deixe a conversa natural. Se o lead ja manifestou interesse no material, não precisa perguntar novamente.\n\n```plaintext\nFico feliz pelo seu interesse no {Nome do empreendimento}\n\nVou te enviar o material do empreendimento. OK?\n\n```\n\n- Se o lead responder afirmativamente (por exemplo: \"pode\", \"sim\", \"manda\", \"envia\", \"ok\", \"quero sim\"), você deve, na mesma resposta:\n  - Parar de perguntar \"Posso enviar?\" (não repita essa pergunta).\n  - Acionar imediatamente `mover_empreendimento_material` e `enviar_material`.\n  - Nunca escreva algo do tipo: \"imagem enviada\", \"material enviado\", etc\n  - garanta que antes de chamar `enviar_material` você ja tenha chamado `preencher_empreendimento` para que seja definido sobre qual o empreendimento o lead quer receber o material.\n- Caso o lead não queira o material, não insista. Ignore esta etapa e siga o atendimento para os próximos passos.\n\n\n##### **3. Material de apresentação e convite para simulação**\n\napós chamar a ferramenta `enviar_material` e receber o retorno dela, pergunte:\n\n```plaintext\n\nGostaria de Agendar uma visita, telefonar para o corretor ou já prefere fazer uma simulação?\n\n```\n\n3.1 - Agendar visita:\nSe o lead responder que quer agendar uma visita, pergunte a data e hora de preferência.\napós a resposta do lead, chame a ferramenta `agendar_visita` passando a data e hora escolhida.\napós isso, diga que a joice vai entrar em contato para confirmar a disponibilidade de horário. E pergunte se ajuda em algo mais por enquanto. \nCaso o lead diga que nao precisa de mais ajuda, chame `request_human`\n\n3.2 - Telefonar para Corretor:\nSe o lead quiser falar com o corretor, chame `request_human` para transferir o atendimento para a Joice.\n\n3.3 - Simulação:\n\n(Se o lead responder que quer fazera simulação, responda calorosamente e chame a ferramenta `envia_media_simulacao`)\n- lembre-se de chamar `mover_simulacao`\n\n_!IMPORTANTE: A partir desse ponto é expressamente proibido chamar `enviar_material`_\n\n{{$('Set Empreendimento').item.json['Empreendimento escolhido']['financing'] == 'construtora' ? \n$json.prompt_construtora\n:\n$json.prompt_banco\n}}\n\n---\n\n\n### Uso de ferramentas (regra global)\n\n- Antes de chamar qualquer ferramenta, releia a conversa e verifique se essa ferramenta já foi utilizada.\n- Se uma ferramenta já tiver sido chamada com sucesso para aquele dado (por exemplo: `enviar_material`, `preenche_empreendimento` para o mesmo empreendimento), **não repita a chamada**.\n- Em especial:\n  - `enviar_material` só pode ser usada uma vez em toda a conversa (exceto se o lead escolher outro empreendimento).\n\n---\n\n### Notas Gerais\n\n- Se lead desviar do assunto, traga de volta de forma natural e cordial.\n\n- Se lead pedir para parar/ficar irritado/pedir humano, acione `request_human`.\n\n- Nunca repita perguntas ou ferramentas se o lead já respondeu/registrou resposta idêntica.\n\n- Não envie links formatados; envie sempre em texto puro.\n\n- Nunca diga 'Material enviado' e 'Midia Enviada' após enviar o material. \n\n- Se o lead não passar a informação após a segunda tentativa, pare de insistir e siga o atendimento ignorando a pergunta\n\n- Se o lead disser que nao quer mais o atendimento, você nao deve dizer que vai encerrar o atendimento, deve dizer que vai \"passar para a corretora Joice\" e que ela vai entrar em contato. Em seguida chame `request_human`\n\n- Não utilize listas numeradas.\n\n- Separe mensagens longas (acima de 80 caracteres) com duas quebras de linha.\n\n- Sempre siga a ordem das etapas do funil como uma sequência de estados:\n  1) Saudação/Menu  \n  2) Empreendimento (escolha + `preenche_empreendimento` uma única vez)  \n  3) Material (`mover_empreendimento_material` + `enviar_material` uma única vez, após resposta afirmativa)  \n  4) Simulação  \n  5) Negociação  \n\n- Nunca volte para uma etapa anterior para repetir envio de material (`enviar_material`) se essas ferramentas já tiverem sido usadas.\n\n\n## Metadata\n- Nome do Empreendimento: {{$('Set Empreendimento').item.json['Empreendimento escolhido']['name'] || '' }}\n- Informações do Empreendimento: \"\"\"\n{{ $('Set Empreendimento').item.json['Empreendimento escolhido']['description']|| '' }}\n\"\"\"\n- Preço dos imóveis: {{ $('Set Empreendimento').item.json['Empreendimento escolhido']['priceRange'] || '' }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1504,
        1232
      ],
      "id": "12eb5bb7-2cfa-4ff2-bffa-fa1bb5a96445",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Preenche Nome\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        1792
      ],
      "typeVersion": 1,
      "id": "6c9a0936-ce1a-4c46-a0ed-c99a24e483d5",
      "name": "Sticky Note28",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o nome dele.",
        "method": "POST",
        "url": "https://joiceadv.up.railway.app/webhook/233276e9-fd98-46c4-a8e4-6be36738a6ec-nome",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `o nome correto informado pelo lead`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "contact_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getContact.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1824,
        1888
      ],
      "id": "7ef49ae0-cdf2-4725-a6d7-3e0bd3adb404",
      "name": "set_name1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Preenche motivo\n",
        "height": 256,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        1792
      ],
      "typeVersion": 1,
      "id": "aaaf1294-382e-44be-ac3c-5b983fd821a7",
      "name": "Sticky Note motivo1",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o motivo\npreencha com o nome exato do motivo conforme aparece na mensagem ao lado do numero da opção. Não o número da opção e sim o Nome exato",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-motivo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "motivo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `motivo informado pelo lead`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1552,
        1872
      ],
      "id": "29de03ca-d6e3-477d-bfd2-375b7804f740",
      "name": "preenche_motivo2",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Preenche empreendimento\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        1792
      ],
      "typeVersion": 1,
      "id": "97c2cff8-cf3f-4183-b5bc-560234914bf7",
      "name": "Sticky Note empreendimento5",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o empreendimento\npreencha com o nome exato do empreendimento conforme aparece na mensagem ao lado do numero da opção. Não o número da opção e sim o Nome exato",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-empreendimento",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "empreendimento",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `empreendimento informado pelo lead`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "message_props",
              "value": "={{ $('Set message props').item.json }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1888
      ],
      "id": "71c3f0e2-f1c6-4995-a9de-425818ce4ee9",
      "name": "preenche_empreendimento1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mover material\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        1792
      ],
      "typeVersion": 1,
      "id": "c21855cd-8cc8-4778-bb44-ae0cd5b4ac2b",
      "name": "Sticky Note30",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “material”, quando ele afirmar que quer receber um video do empreendimento",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-material",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -736,
        1888
      ],
      "id": "83d599d3-4cbf-465d-a699-74b4aaf77ba4",
      "name": "mover_material1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “simulacao”, quando ele afirmar que quer saber sobre os valores das casas",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-simulacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1552,
        2496
      ],
      "id": "4673f834-127c-4bc7-914a-61751fe611e5",
      "name": "mover_simulacao1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mover simulacao\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        2400
      ],
      "typeVersion": 1,
      "id": "a65252e0-a559-4203-99ec-e6421be6dba7",
      "name": "Sticky Note31",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche estado_civil do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        2096
      ],
      "typeVersion": 1,
      "id": "1298498f-ecc1-4670-80f5-17f425895cc4",
      "name": "Sticky Note Origem8",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o estado_civil: \n  1. Solteiro  \n  2. Casado  \n  3. Pretendo Comprar com Outra Pessoa  \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-estado_civil",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "estado_civil",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `número da opção informada pelo lead \n  1. Solteiro \n  2. Casado  \n  3. Comprar com outra pessoa  `, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1824,
        2192
      ],
      "id": "aba1f0a9-2d6f-4e7a-91d0-c024fb187a2a",
      "name": "preenche_estado_civil1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Preenche renda\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1632,
        2096
      ],
      "typeVersion": 1,
      "id": "2af9fd19-f250-46e6-b049-52ae3dda253c",
      "name": "Sticky Note renda1",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a renda\n\ncaso o valor informado seja muito pequeno e incompatível com uma renda confirme se o valor foi digitado corretamente. \nex: lead informou '15'. Confirme se ele quis dizer R$15.000,00",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-renda",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "renda",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `renda informada pelo lead`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1552,
        2192
      ],
      "id": "49796d02-9232-4826-a834-0e159a0c3a8a",
      "name": "preenche_renda_mensal1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Preenche tipo_renda do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        2096
      ],
      "typeVersion": 1,
      "id": "12f0b936-4104-4593-8dea-dc72821269f1",
      "name": "Sticky Note Origem9",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o tipo_renda: \n  1. Formal  \n  2. Informal   \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-tipo_renda",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tipo_renda",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preenche_tipo_renda', `número da opção informada pelo lead \n  1. Formal \n  2. Informal`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1280,
        2192
      ],
      "id": "74cf7fb0-c736-46a0-badf-4d64d565ba3e",
      "name": "preenche_tipo_renda1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar se declarou imposto: \n  1. Sim  \n  2. Não   \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-imposto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "imposto",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preenche_imposto', `número da opção informada pelo lead \n  1. Sim \n  2. Não`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1008,
        2192
      ],
      "id": "c9c9cfcf-6a14-4a69-ab71-ab029e026c15",
      "name": "preenche_imposto_converted",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Preenche imposto do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        2096
      ],
      "typeVersion": 1,
      "id": "cde7ee03-e57c-4d80-8f2a-35582bec4217",
      "name": "Sticky Note Origem10",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche nascimento\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        2096
      ],
      "typeVersion": 1,
      "id": "67b5a9e7-c762-4a00-a2c0-47bcc26422cf",
      "name": "Sticky Note nascimento1",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a data de nascimento",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-nascimento",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nascimento",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preenche_nascimento_mensal', `nascimento informado pelo lead`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -736,
        2192
      ],
      "id": "c21b3b89-4450-4865-beaf-6d8c155bf068",
      "name": "preenche_nascimento_mensal1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “negociacao”, quando ele Finalizar as respsotas de simulação",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-negociacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1280,
        2496
      ],
      "id": "ddba827c-1470-4397-8f6e-8295dba84227",
      "name": "mover_negociacao1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mover negociacao\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        2400
      ],
      "typeVersion": 1,
      "id": "8fc2c9c0-0702-486c-9314-034c9080a179",
      "name": "Sticky Note32",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Request Human\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        2400
      ],
      "typeVersion": 1,
      "id": "f23287cc-f480-4c6e-a7cd-cf11e1bb9c95",
      "name": "Sticky Note33",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche data_visita\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        2400
      ],
      "typeVersion": 1,
      "id": "74a7de55-e728-435e-bd64-6e4506a65bd3",
      "name": "Sticky Note data_visita1",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a data de visita",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-data_visita",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data_visita",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preencher_data_visita_lead', `data_visita informada pelo lead no formato 'yyyy-MM-dd HH:mm'`, 'string') }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -736,
        2496
      ],
      "id": "065fe7ce-5491-488b-8dea-794a8de4ba6b",
      "name": "preencher_data_visita_lead1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Chame essa ferramenta caso o usuário solicite falar com um humano, ou caso ele faça alguma reclamação ou perceba que o usuário está ficando irritado.\nEsta ferramenta irá transferir o atendimento para a Joice",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-human",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1008,
        2496
      ],
      "id": "0cf01055-4eee-4e4d-86cf-bac8eb93c8c3",
      "name": "request_human1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -1616,
        1568
      ],
      "id": "296b364a-de31-45ed-b765-73415946d786",
      "name": "Think1"
    },
    {
      "parameters": {
        "content": "## Envia Material\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        1792
      ],
      "typeVersion": 1,
      "id": "ac116666-a578-45ec-9c5f-478f53b7f7bf",
      "name": "Sticky Note empreendimento6",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta após o lead informar que deseja receber o material sobre o empreendimento.\nEssa ferramenta enviará uma série de materiais para o lead.\nAntes de chamar essa ferramenta, garanta que já chamou `prencheer_empreendimento`\n\nA ferramenta irá retornar a instrução do que repsonder em seguida",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/8910e964-8830-4fdf-8cc6-2d9fc977c5bb-media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "message_props",
              "value": "={{ $('Set message props').item.json }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1008,
        1888
      ],
      "id": "758d6341-f538-4421-861d-7626ba5ff152",
      "name": "envia_material1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envia Media Simulação\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        2400
      ],
      "typeVersion": 1,
      "id": "15dd1076-1887-4fdc-8157-0160ca7af5e9",
      "name": "Sticky Note empreendimento7",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta após a etapa 3 quando o lead informar que deseja saber sobre o preço / Valor do empreendimento.\n\nChame essa ferramenta se o lead manifestou interesse na simulação\n\nEssa ferramenta enviará uma imagem e uma mensagem padrão\n\nA ferramenta irá retornar a instrução do que repsonder em seguida",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/8910e964-8830-4fdf-8cc6-2d9fc977c5bb-media-simulacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "lead_id",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "message_props",
              "value": "={{ $('Set message props').item.json }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -1824,
        2496
      ],
      "id": "75b11d82-653e-496b-aaf2-6abc6513ce16",
      "name": "envia_media_simulacao1",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Request Human\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        3328
      ],
      "typeVersion": 1,
      "id": "498d5385-4745-4354-b24a-6dd54059eba4",
      "name": "Sticky Note21",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche Nome\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        2704
      ],
      "typeVersion": 1,
      "id": "4eeaf008-3077-48bb-a8f3-08642cc3bc69",
      "name": "Sticky Note23",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche empreendimento\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        2704
      ],
      "typeVersion": 1,
      "id": "8ec5fd23-8f55-410d-a553-78d7579adc96",
      "name": "Sticky Note empreendimento",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o empreendimento\npreencha com o nome exato do empreendimento conforme aparece na mensagem ao lado do numero da opção. Não o número da opção e sim o Nome exato",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-empreendimento",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "empreendimento"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "message_props",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').item.json }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "empreendimento",
              "description": "empreendimento informado pelo lead",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        2800
      ],
      "id": "bcdcb48f-29f0-4a0c-bc22-31d3f14f10ee",
      "name": "preenche_empreendimento",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “interessado”, quando: \n1. o lead já estiver na cidade, \n2. finalizar a triagem, \n3. Escolher o Passeio ou \n4. solicitar atendimento personalizado ou orçamento.",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-interessado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        896,
        2800
      ],
      "id": "2a0fd501-3527-429d-b4ee-688454e586e7",
      "name": "mover_interessado",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Mover interessado\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        2704
      ],
      "typeVersion": 1,
      "id": "af8ca11e-b825-407c-b4e9-83e8824942f4",
      "name": "Sticky Note24",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “material”, quando ele afirmar que quer receber um video do empreendimento",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-material",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        2800
      ],
      "id": "d0446db3-244d-40ab-b8bd-b6057c61c8ed",
      "name": "mover_material",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Mover material\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        2704
      ],
      "typeVersion": 1,
      "id": "4606623c-9ea9-4111-91e6-6920daf1d2a1",
      "name": "Sticky Note25",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “simulacao”, quando ele afirmar que quer saber sobre os valores das casas",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-simulacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1440,
        2800
      ],
      "id": "ba96406b-b7db-44c6-aaa4-d334ee521b65",
      "name": "mover_simulacao",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Mover simulacao\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        2704
      ],
      "typeVersion": 1,
      "id": "893bcf00-3957-414a-8cb4-cccc0ceed5fa",
      "name": "Sticky Note26",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche estado_civil do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        3024
      ],
      "typeVersion": 1,
      "id": "d2247aa6-7d21-4a84-9397-720c37b0c378",
      "name": "Sticky Note Origem",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche renda\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        3024
      ],
      "typeVersion": 1,
      "id": "198b7052-8895-4acb-ad96-37a4a8a72135",
      "name": "Sticky Note renda",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche tipo_renda do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        3024
      ],
      "typeVersion": 1,
      "id": "e9ad7601-f4d5-43cf-a9da-b5c3606d1387",
      "name": "Sticky Note Origem6",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o tipo_renda: \n  1. Formal  \n  2. Informal   \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-tipo_renda",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "tipo_renda"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "tipo_renda",
              "description": "número da opção informada pelo lead \n  1. Formal \n  2. Informal",
              "type": "number"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        3120
      ],
      "id": "aec7e40d-6ad3-463c-9a97-ee6f248a5597",
      "name": "preenche_tipo_renda",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a renda",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-renda",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "renda"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "renda",
              "description": "renda informada pelo lead",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        896,
        3120
      ],
      "id": "5b76c6f6-1d06-4e4b-b9f3-e56e9bdeb759",
      "name": "preenche_renda_mensal",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o estado_civil: \n  1. Solteiro  \n  2. Casado  \n  3. Pretendo Comprar com Outra Pessoa  \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-estado_civil",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "estado_civil"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "estado_civil",
              "description": "número da opção informada pelo lead \n  1. Solteiro \n  2. Casado  \n  3. Comprar com outra pessoa  ",
              "type": "number"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        3120
      ],
      "id": "fbe26afa-5fd7-43d7-b019-c8a635cba25e",
      "name": "preenche_estado_civil",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar se declarou imposto: \n  1. Sim  \n  2. Não   \n",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/444476e9-fd98-46c4-a8e4-6be36738a6e4-imposto",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "imposto"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "imposto",
              "description": "número da opção informada pelo lead \n  1. Sim \n  2. Não",
              "type": "number"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1440,
        3120
      ],
      "id": "c0ad3661-622c-44c0-b07d-3db839d4e164",
      "name": "preenche_imposto",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche imposto do Lead\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        3024
      ],
      "typeVersion": 1,
      "id": "a312c6e9-9a5d-4d0b-970b-ce2f33e9d671",
      "name": "Sticky Note Origem7",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche nascimento\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        3328
      ],
      "typeVersion": 1,
      "id": "0b1c58f4-a4f4-424b-b4b1-f009dced01ff",
      "name": "Sticky Note nascimento",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a data de nascimento",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-nascimento",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "nascimento"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "nascimento",
              "description": "nascimento informado pelo lead",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        3424
      ],
      "id": "fe58f21f-1a3e-4e58-b380-eee229da9d6e",
      "name": "preenche_nascimento_mensal",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Use para mover o lead para a etapa de “negociacao”, quando ele Finalizar as respsotas de simulação",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-negociacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        896,
        3424
      ],
      "id": "d2583634-0a70-496e-a833-42ca7cfe42fc",
      "name": "mover_negociacao",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Mover negociacao\n",
        "height": 260,
        "width": 236
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        3328
      ],
      "typeVersion": 1,
      "id": "00a64019-152d-41ae-bcb6-f384b42bf835",
      "name": "Sticky Note27",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Envia Material\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        3648
      ],
      "typeVersion": 1,
      "id": "e7ad35da-2db5-4b1b-968b-e014e22c5e60",
      "name": "Sticky Note empreendimento2",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta após o lead informar que deseja receber um vídeo sobre o empreendimento.\nEssa ferramenta enviará uma série de materiais para o lead.\n\nA ferramenta irá retornar a instrução do que repsonder em seguida",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/8910e964-8830-4fdf-8cc6-2d9fc977c5bb-media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "message_props",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').item.json }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        896,
        3744
      ],
      "id": "2366b0ab-b64d-429d-955c-d23cf196026b",
      "name": "envia_material",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Envia Media Simulação\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        3648
      ],
      "typeVersion": 1,
      "id": "88f62ce7-3106-43df-be40-2f08f3adbe1d",
      "name": "Sticky Note empreendimento3",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta após a etapa 3 quando o lead informar que deseja saber sobre o preço / Valor do empreendimento.\n\nChame essa ferramenta se o lead manifestou interesse na simulação\n\nEssa ferramenta enviará uma imagem e uma mensagem padrão\n\nA ferramenta irá retornar a instrução do que repsonder em seguida",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/8910e964-8830-4fdf-8cc6-2d9fc977c5bb-media-simulacao",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "message_props",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').item.json }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        608,
        3744
      ],
      "id": "e464d528-bb59-455d-be6c-38483dd0776f",
      "name": "envia_media_simulacao",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o nome dele.",
        "method": "POST",
        "url": "https://joiceadv.up.railway.app/webhook/233276e9-fd98-46c4-a8e4-6be36738a6ec-nome",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "name"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            },
            {
              "name": "contact_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getContact.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "name",
              "description": "o nome correto informado pelo lead",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1728,
        2800
      ],
      "id": "6eeb8652-ee1a-4772-a0c0-259fe3175611",
      "name": "set_name",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche motivo\n",
        "height": 256,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        3024
      ],
      "typeVersion": 1,
      "id": "c9cefcde-4083-4f1e-9ef9-df630bab776d",
      "name": "Sticky Note motivo",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar o motivo\npreencha com o nome exato do motivo conforme aparece na mensagem ao lado do numero da opção. Não o número da opção e sim o Nome exato",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-motivo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "motivo"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "motivo",
              "description": "motivo informado pelo lead",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1728,
        3120
      ],
      "id": "7bac69f3-455a-4be8-b24f-10bfc30ccf50",
      "name": "preenche_motivo",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Preenche data_visita\n",
        "height": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        3328
      ],
      "typeVersion": 1,
      "id": "ab26fe0a-d097-46b5-9715-210bac99a3b9",
      "name": "Sticky Note data_visita",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "=Chame essa ferramenta assim que o lead informar a data de visita",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/333376e9-fd98-46c4-a8e4-6be36738a6ef-data_visita",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "data_visita"
            },
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('When Executed by Another Workflow').last().json.getLead.json.id }}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "data_visita",
              "description": "data_visita informada pelo lead no formato 'yyyy-MM-dd HH:mm'",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1440,
        3440
      ],
      "id": "32ead970-02dc-4bc8-bcc3-0ccd8a7b98f6",
      "name": "preencher_data_visita_lead",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Chame essa ferramenta caso o usuário solicite falar com um humano, ou caso ele faça alguma reclamação ou perceba que o usuário está ficando irritado.\nEsta ferramenta irá transferir o atendimento para a Joice",
        "method": "POST",
        "url": "=https://joiceadv.up.railway.app/webhook/5b6cd24d-14d5-4074-901f-0f4b11c02415-human",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "accept",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "lead_id",
              "valueProvider": "fieldValue",
              "value": "={{ $('Set message props').last().json.crm_entity.id }}"
            }
          ]
        },
        "optimizeResponse": true
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1168,
        3424
      ],
      "id": "297a0509-6643-46e4-9026-b1305e522ffb",
      "name": "request_human",
      "credentials": {
        "httpBasicAuth": {
          "id": "nEBUdVtA8n4lpKwn",
          "name": "[tool] - basic auth"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "body": {
            "account[subdomain]": "joiceadv",
            "account[id]": "34332899",
            "account[_links][self]": "https://joiceadv.amocrm.com",
            "message[add][0][id]": "5e0ee445-4b47-4f16-90d3-5c1204142963",
            "message[add][0][chat_id]": "7cd90f4d-ac4c-410a-99fc-732d6165aab8",
            "message[add][0][talk_id]": "4137",
            "message[add][0][contact_id]": "22398914",
            "message[add][0][text]": "Emerson",
            "message[add][0][created_at]": "1765338336",
            "message[add][0][element_type]": "2",
            "message[add][0][entity_type]": "lead",
            "message[add][0][element_id]": "18135878",
            "message[add][0][entity_id]": "18135878",
            "message[add][0][type]": "incoming",
            "message[add][0][author][id]": "31485898-c4ec-4380-bb45-058336ede156",
            "message[add][0][author][type]": "external",
            "message[add][0][author][name]": "Emerson",
            "message[add][0][origin]": "telegram"
          },
          "getLead": {
            "json": {
              "id": 18135878,
              "name": "[Teste n8n] - Market Hunters",
              "price": 0,
              "responsible_user_id": 14085107,
              "group_id": 0,
              "status_id": 91494987,
              "pipeline_id": 10762739,
              "loss_reason_id": null,
              "created_by": 0,
              "updated_by": 0,
              "created_at": 1765081354,
              "updated_at": 1765338336,
              "closed_at": null,
              "closest_task_at": 1765162740,
              "is_deleted": false,
              "custom_fields_values": [
                {
                  "field_id": 1025278,
                  "field_name": "Interesse (Empreendimento)",
                  "field_code": null,
                  "field_type": "text",
                  "values": [
                    {
                      "value": "Buritis - Apartamento"
                    }
                  ]
                },
                {
                  "field_id": 1061478,
                  "field_name": "Estado Civil",
                  "field_code": null,
                  "field_type": "select",
                  "values": [
                    {
                      "value": "Casado",
                      "enum_id": 908246,
                      "enum_code": null
                    }
                  ]
                },
                {
                  "field_id": 1062936,
                  "field_name": "Motivo",
                  "field_code": null,
                  "field_type": "text",
                  "values": [
                    {
                      "value": "moradia"
                    }
                  ]
                },
                {
                  "field_id": 1061418,
                  "field_name": "Data e Hora da Visita",
                  "field_code": null,
                  "field_type": "date_time",
                  "values": [
                    {
                      "value": 1765378800
                    }
                  ]
                },
                {
                  "field_id": 1061480,
                  "field_name": "Renda Mensal",
                  "field_code": null,
                  "field_type": "text",
                  "values": [
                    {
                      "value": "20"
                    }
                  ]
                },
                {
                  "field_id": 1061482,
                  "field_name": "Tipo de Renda",
                  "field_code": null,
                  "field_type": "select",
                  "values": [
                    {
                      "value": "Renda Formal",
                      "enum_id": 908250,
                      "enum_code": null
                    }
                  ]
                },
                {
                  "field_id": 1061626,
                  "field_name": "Data de Nascimento - aberto",
                  "field_code": null,
                  "field_type": "text",
                  "values": [
                    {
                      "value": "01/02/03"
                    }
                  ]
                }
              ],
              "score": null,
              "account_id": 34332899,
              "labor_cost": null,
              "_links": {
                "self": {
                  "href": "https://joiceadv.kommo.com/api/v4/leads/18135878?with=contacts%2Ccompanies&page=1&limit=250"
                }
              },
              "_embedded": {
                "tags": [],
                "companies": [],
                "contacts": [
                  {
                    "id": 22398914,
                    "is_main": true,
                    "_links": {
                      "self": {
                        "href": "https://joiceadv.kommo.com/api/v4/contacts/22398914?with=contacts%2Ccompanies&page=1&limit=250"
                      }
                    }
                  }
                ]
              }
            },
            "pairedItem": {
              "item": 0
            }
          },
          "getContact": {
            "json": {
              "id": 22398914,
              "name": "Emerson",
              "first_name": "Emerson",
              "last_name": "",
              "responsible_user_id": 14085107,
              "group_id": 0,
              "created_by": 0,
              "updated_by": 0,
              "created_at": 1765081354,
              "updated_at": 1765335873,
              "closest_task_at": null,
              "is_deleted": false,
              "is_unsorted": false,
              "custom_fields_values": null,
              "account_id": 34332899,
              "_links": {
                "self": {
                  "href": "https://joiceadv.kommo.com/api/v4/contacts/22398914?page=1&limit=250"
                }
              },
              "_embedded": {
                "tags": [],
                "companies": []
              }
            },
            "pairedItem": {
              "item": 0
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-09T05:16:18.327Z",
      "createdAt": "2025-12-09T05:16:18.327Z",
      "role": "workflow:owner",
      "workflowId": "miO3HCG3ZDhU7HzY",
      "projectId": "7Zo0ITtGQshcizrf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-10T05:19:40.449Z",
  "versionId": "f086298b-dc53-4fc7-8a89-41a8ae0d7a9a"
}