workflows/My workflow.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-09T04:37:18.270Z",
  "id": "DO6znwj2AvaWJi03",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "56f2974b-fdd3-4948-b545-3e2536b17af5",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1520,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "6b7e0937-3347-4239-bfd4-cf073186fc18",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -688,
        128
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "cfc8f859-48aa-4a86-87b8-d8d000a10d32",
      "credentials": {
        "githubApi": {
          "id": "oslNQeKJYXd3VunX",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "6837b713-fbdf-4d2e-affb-272617ac8686",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -48,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8983e1c1-fb7a-40ed-9615-9e34a77d17d4",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        192,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7f3c7efd-ee4e-46a6-8948-6d4dbeb3a940",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        192,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "86d7cc38-80ab-47f6-8804-1d434286cbc3",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        192,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "2431ba2e-b004-42e8-9811-92a1af2accfa",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        384,
        272
      ],
      "typeVersion": 1,
      "webhookId": "18080e8d-b121-4e0f-bc32-a7f2b86632be",
      "credentials": {
        "githubApi": {
          "id": "oslNQeKJYXd3VunX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "cd4956d6-c762-442f-b97d-3de865384296",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        384,
        448
      ],
      "typeVersion": 1,
      "webhookId": "23f0c341-60cf-4b9e-9c1a-fcb115aaf1f0",
      "credentials": {
        "githubApi": {
          "id": "oslNQeKJYXd3VunX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f7f4758a-f306-4dc8-8e07-e84ac3afa6de",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -896,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "iacorretorjh-rgb"
            },
            {
              "name": "repo.name",
              "value": "n8n-workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "f860f3c4-d604-46c3-980b-e1b16355f2af",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1344,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 4
            }
          ]
        }
      },
      "id": "68c1e4d7-fc63-4249-acc3-36371acbbaa6",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1520,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "0d711048-f4be-4a50-8548-ceb212aa81c9",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 755.2349999999991
      },
      "id": "24d1f150-61a1-4ea8-a8f9-d0678e8e6f95",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 693.9283333333326,
        "width": 666.4416666666662
      },
      "id": "7b62f306-7f9e-4f40-ad8b-9421723e27ea",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "a1798ec4-5b8a-4fe3-9180-2a6837a5d657",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1136,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "7qng7aK0hGNlKXB8",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "994bf52e-dbd1-4890-b58b-6781e5663d67",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -288,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "358f8b58-7d11-4469-b3e4-0d82fa08d3d5",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -464,
        272
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-09T04:37:18.270Z",
      "updatedAt": "2025-12-09T04:37:18.270Z",
      "role": "workflow:owner",
      "workflowId": "DO6znwj2AvaWJi03",
      "projectId": "CdOjQfB3kNlqg1ah"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-09T04:37:18.270Z",
  "versionId": "dd691d0d-def7-4749-840e-086b032dce98"
}