workflows/My workflow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T05:33:37.389Z",
  "id": "sQy5MOTYyjp7LXiQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "1c7afa49-6373-445c-a641-6044317ed2bb",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1632,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "8a8db052-2349-4a5a-96b8-8cf4ffea29b3",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -800,
        176
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "cfc8f859-48aa-4a86-87b8-d8d000a10d32",
      "credentials": {
        "githubApi": {
          "id": "xTfMEYbkPI6LN3Hs",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "a012aa71-ec3a-4e8a-b120-b1dee727e133",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -160,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8c4a0aec-42be-4bbf-ad78-b2e37865e50a",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        80,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "cb20c02c-158d-4620-a136-e9272c8f06e3",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        80,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "15155a77-82b5-4b50-adc4-39999fb8eeaf",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        80,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "64b4ffef-f50c-41b8-8084-b85314740b21",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        272,
        320
      ],
      "typeVersion": 1,
      "webhookId": "18080e8d-b121-4e0f-bc32-a7f2b86632be",
      "credentials": {
        "githubApi": {
          "id": "xTfMEYbkPI6LN3Hs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "e0dc2b7e-1011-41a8-96d8-82eb6cfa430f",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        272,
        496
      ],
      "typeVersion": 1,
      "webhookId": "23f0c341-60cf-4b9e-9c1a-fcb115aaf1f0",
      "credentials": {
        "githubApi": {
          "id": "xTfMEYbkPI6LN3Hs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f259f918-51a9-4a37-b1c8-45a9a4a8765f",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -1008,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "iacorretorjh-rgb"
            },
            {
              "name": "repo.name",
              "value": "n8n-workflows"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "5705e989-675f-4853-bce7-431a2985bf50",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -1456,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 4
            }
          ]
        }
      },
      "id": "10b445d0-eb74-4a36-8bb9-071d66a7203f",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1632,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Workflow Backups\nThis workflow will automatically backup your workflows to your Github account every 12 hours.\n\n### Setup\nOpen Globals and update the values below\n**repo.owner:** This is your Github username\n**repo.name:** This is the name of your repository\n**repo.path:** This is the folder to use within the repository, If it doesn't exist it will be created.\n\nIf your username was `n8n-io` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\nrepo.owner - n8n-io\nrepo.name - n8n-backups\nrepo.path - workflows",
        "height": 464.79920462713443,
        "width": 389.78906250000017
      },
      "id": "bad5c615-c354-4ef1-bc0d-b414c7cf5c58",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Single Item Loop\nWe process each workflow item one at a time, We first check Github to see if a file exists then we merge the Github Data and the API item so we can check if the values match in the function node `isDiffOrNew` we then set a status of `same`, `different` or `new`",
        "height": 424.04333333333386,
        "width": 755.2349999999991
      },
      "id": "5cfe66da-51c3-4b30-be3d-284a10845723",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Save the data\nUsing the switch node we work out what to do based on the previous status,  If it is the same we do nothing, If it is different we update the file in Github and if it is new we create a new file. After this is done we loop back to the Split in Batches node (OneAtAtTime) to start the process again.",
        "height": 693.9283333333326,
        "width": 666.4416666666662
      },
      "id": "9bd05172-e604-4b83-93d8-930b0d032933",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "4b0c83ac-1c21-413a-bc28-45bec0205b0b",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1248,
        336
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Iqu7xatzemgP06kC",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "6d0c8af3-21cc-4b7c-bcff-3bc840378224",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -400,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a729a90e-674e-4bef-b7ab-616a05af6207",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -576,
        320
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T05:33:37.389Z",
      "createdAt": "2025-12-10T05:33:37.389Z",
      "role": "workflow:owner",
      "workflowId": "sQy5MOTYyjp7LXiQ",
      "projectId": "7Zo0ITtGQshcizrf"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-10T05:33:37.389Z",
  "versionId": "13ab751c-d857-4a80-bb53-e1fdb9b6a4a8"
}